:root {
    --darkest: #5C5B54
}

main {
    display: flex;
    align-items: center;
}

article {
    background-color: #bdbbb2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 5%;
    background: #bdbbb2;
    box-shadow: 4px 16px 16px var(--uni-black) inset, -4px -8px 16px var(--uni-off-white) inset;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.message {
    position: absolute;
    bottom: 2.4rem;
    width: 65%;
    padding: 1.2rem;
    display: none;
}

.message p { 
    font-size: 2.4rem;
    text-align: center;
}

.message.view { display: block }

#version-view {
    width: 100%;
    height: 100%;
}

aside {
    position: relative;
    background: #99978a;
    display: flex;
    align-items: center;
}

.no-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 1.2rem;
    justify-items: center;
    align-items: center;
}

#prev, 
#next {
    width: 7.2rem;
    height: 7.2rem;
    border: 0.2rem solid var(--uni-black);
    border-radius: 50%;
    background: var(--uni-mid);
    box-shadow: -0.2rem -0.2rem 0.6rem var(--uni-light),
        0.2rem 0.2rem 0.6rem var(--uni-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev:hover,
#next:hover { background: var(--uni-light) }

.circle-dial {
    width: 5.6rem;
    height: 5.6rem;
    border: 0.3rem solid var(--uni-black);
    border-radius: 50%;
    box-shadow: 0.4rem 0.4rem 1.2rem var(--uni-off-black) inset,
        -0.2rem -0.2rem 0.6rem var(--uni-off-black) inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-dial svg {
    width: 3.6rem;
    height: 3.6rem;
    margin: 0;
}

#prev svg { 
    padding-left: 0.5rem;
    transform: rotate(180deg) 
}

#next svg {
    padding-left: 0.5rem;
}

#link,
#home {
    position: relative;
    width: 3.6rem;
    height: 3.6rem;
    border: 0.2rem solid var(--uni-black);
    border-radius: 50%;
    background: var(--uni-off-black);
    display: flex;
    align-items: center;
}

#link:hover,
#home:hover {
    background: var(--uni-black);
    box-shadow: 0.1rem 0.1rem 0.3rem var(--uni-black) inset,
        -0.3rem -0.3rem 0.6rem var(--uni-black) inset;
}

#link { justify-content: center }

#link .cross-line {
    width: 0.3rem;
    height: 2.1rem;
    background: var(--uni-mid);
}

#link .cross-line.first { transform: rotate(90deg) }
#link .cross-line.second { transform: translateX(-0.2rem) }

#link .cross-dot {
    position: absolute;
    top: 1.1rem;
    left: 1.2rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: var(--uni-off-black);
}

#link:hover .cross-dot { background: var(--uni-black) }

#home .circle-outline {
    position: relative;
    width: 2.1rem;
    height: 2.1rem;
    border: 0.2rem solid var(--uni-mid);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .power-line {
    position: absolute;
    top: -0.4rem;
    width: 0.8rem;
    height: 1rem;
    background: var(--uni-off-black);
}

#home .power-line::before {
    position: absolute;
    left: 0.3rem;
    width: 0.2rem;
    height: 100%;
    background: var(--uni-mid);
    content: '';
}

.background {
    position: absolute;
    background: var(--uni-off-black);
    opacity: 0.5;
}

@media (orientation: landscape) {
    article {
        width: 80%;
        height: 100vh;
    }

    aside {
        width: 20%;
        height: 100vh;
        align-items: center;
    }
}

@media (max-width: 785px) and (orientation: landscape) {
    .background { display: none }

    .no-background {
        width: 100%;
        height: 100vh;
    }

    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 786px) and (orientation: landscape) {
    .background {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 50%;
    }

    .no-background {
        top: 0;
        width: 100%;
        height: 50%;
    }
}

@media (orientation: portrait) {
    main { flex-direction: column }

    article {
        width: 100%;
        height: 80vh;
    }

    aside {
        width: 100%;
        height: 20vh;
    }
}

@media (max-height: 810px) and (orientation: portrait) {
    .background { display: none }
    .no-background { width: 100% }

    .controls {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (min-height: 811px) and (orientation: portrait) {
    .background {
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
    }

    .no-background {
        width: 40%;
        height: 100%;
    }
}