#back-to-top { 
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: calc(3.6rem + 0.32vw);
    height: calc(3.6rem + 0.32vw);
    padding: 0.3rem 0.6rem 0 0.6rem;
    border: 0.2rem solid var(--uni-black);
    border-radius: 50%;
    color: var(--uni-off-black);
    background: var(--uni-off-white);
    font-family: 'League Spartan';
    font-weight: bold;
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#back-to-top:hover { color: red }

/* ------------------------------------------------- HEADER */

header {
    position: relative;
    height: 3.6rem;
    padding-right: 1.2rem;
    border-bottom: 0.2rem solid var(--uni-white);
    background: var(--uni-off-black);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

h1 {
    position: absolute;
    left: 0.75rem;
    bottom: -1.8rem;
    margin: 0;
    padding: 0.8rem 1.2rem 0 1.2rem;
    border: 0.3rem solid var(--uni-black);
    color: var(--uni-off-black);
    background: var(--uni-white);
    font-family: 'League Spartan';
    font-size: 2.4rem;
    line-height: 1;
    z-index: 2;
}

.pages-dropdown {
    width: 40%;
    height: 2.4rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5;
}

#pages-btn {
    width: 100%;
    height: 100%;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid var(--uni-off-white);
    border-radius: 0.8rem 0.8rem 0 0;
    outline: none;
    color: var(--uni-off-white);
    background: transparent;
    font-family: 'League Spartan';
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages-dropdown .content {
    width: 100%;
    height: 0;
    background: var(--uni-off-black);
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: height 0.3s, opacity 0.1s;
}

.pages-dropdown .content a {
    width: 100%;
    padding: 0.8rem 0 0.8rem 1.2rem;
    border: 0.1rem solid var(--uni-off-white);
    color: var(--uni-mid);
    font-family: 'League Spartan';
}

.pages-dropdown .content a:hover {
    color: var(--uni-black);
    background: var(--uni-off-white);
}

.pages-dropdown.expand .content {
    height: auto;
    opacity: 1;
    pointer-events: all;
}

@media screen and (width < 400px) {
    header { 
        height: 6rem;
        padding: 0;
    }

    .pages-dropdown {
        width: 92%;
        margin: 0 auto;
    }
}

/* --------------------------------------------------- MAIN */

main {
    background: var(--uni-off-black)
}

section {
    max-width: 60rem;
    margin: 0 auto;
}

.person {
    position: relative;
    width: 100%;
}

#day-after-christmas-boy.person { height: 48rem }

#day-after-christmas-ywoman.person,
#day-after-christmas-woman.person,
#woman-walking-uphill.person,
#woman-in-corner.person { height: 72rem }

.person div {
    position: absolute;
    width: 100%;
    min-height: 24rem;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.person div h2 {
    font-family: 'Bebas Neue';
    font-size: 3.6rem;
}

.person div h3 {
    width: 80%;
    margin: 0 auto;
    font-family: 'League Spartan';
    font-weight: normal;
    text-align: center;
}

.text {
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--uni-off-black);
}

.container {
    width: 95%;
    max-width: 60rem;
    margin: 0 auto;
    color: var(--uni-off-white);
    font-family: 'League Spartan';
}

.container h2::first-letter {
    margin-right: 0.6rem;
    padding: 0.4rem 0.5rem 0 0.5rem;
    border: 0.1rem solid var(--uni-white);
    border-radius: 0.2rem;
    color: var(--uni-off-white);
    background-color: var(--uni-off-black);
    font-size: calc(2.2rem + 0.32vw);
    box-shadow: 0.3rem 0.3rem 0 red;
}

/* ------------------------------------ Day After Christmas */

#day-after-christmas-boy .top {
    background: var(--uni-black);
    display: flex;
    justify-content: space-between;
}

#day-after-christmas-boy .sleeve {
    width: 30%;
    height: 100%;
    background: linear-gradient(to bottom, 
        rgb(247, 53, 14), 
        rgb(244, 164, 24), 
        rgb(34, 112, 51), 
        var(--uni-black));
}

#day-after-christmas-boy .sleeve:first-of-type { left: 0 }
#day-after-christmas-boy .sleeve:last-of-type { right: 0 }

#day-after-christmas-boy .pants {
    top: 24rem;
    background: var(--uni-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#day-after-christmas-boy .stripe {
    bottom: 0;
    width: 100%;
    margin-bottom: 4rem;
    height: 2.4rem;
    min-height: auto;
    background: rgb(237, 218, 16);
}

/* ------------------------ Young woman */

#day-after-christmas-ywoman .top {
    min-height: 36rem;
    background: var(--uni-black);
    display: flex;
    justify-content: space-between;
}

#day-after-christmas-ywoman .sleeve {
    width: 25%;
    min-height: 36rem;
    height: 50%;
    background: url(assets/day-after-christmas-01.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    overflow: hidden;
}

#day-after-christmas-ywoman .sleeve:first-of-type { left: 0 }
#day-after-christmas-ywoman .sleeve:last-of-type { right: 0 }

#day-after-christmas-ywoman .sleeve::before,
#day-after-christmas-ywoman .sleeve::after {
    position: absolute;
    width: 6rem;
    height: 4rem;
    background-size: cover;
    content: '';
}

#day-after-christmas-ywoman .sleeve::before {
    background: url(assets/day-after-christmas-02.jpg)
}

#day-after-christmas-ywoman .sleeve::after {
    background: url(assets/day-after-christmas-03.jpg)
}

#day-after-christmas-ywoman .sleeve:first-of-type:before {
    top: 10%;
    left: -15%;
}

#day-after-christmas-ywoman .sleeve:last-of-type:before {
    bottom: 20%;
    left: -15%;
}

#day-after-christmas-ywoman .sleeve:first-of-type:after {
    bottom: 18%;
    right: -15%;
}

#day-after-christmas-ywoman .sleeve:last-of-type:after {
    top: 25%;
    right: -15%;
}

#day-after-christmas-ywoman .tote-bag {
    top: 40%;
    right: 0;
    width: 50%;
    height: 20%;
    min-height: 12rem;
    background: var(--uni-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 5;
}

#day-after-christmas-ywoman .stripe {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    min-height: 2rem;
    background: rgb(61, 61, 109);
}

#day-after-christmas-ywoman .stripe::before,
#day-after-christmas-ywoman .stripe::after {
    position: absolute;
    top: -300%;
    width: 10%;
    height: 300%;
    background: rgb(61, 61, 109);
    display: inline-block;
    content: '';
    z-index: 10;
}

#day-after-christmas-ywoman .stripe::before { left: 25% }
#day-after-christmas-ywoman .stripe::after { right: 25% }

#day-after-christmas-ywoman .pants {
    top: 50%;
    left: 0;
    min-height: 50%;
    background: url(assets/day-after-christmas-03.jpg);
    background-size: contain;
    background-repeat: repeat;
}

/* ------------------------------ Woman */

#day-after-christmas-woman .top {
    height: 50%;
    background: url(assets/day-after-christmas-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

#day-after-christmas-woman .sleeve {
    width: 25%;
    position: relative;
    background: url(assets/day-after-christmas-02.jpg);
}

#day-after-christmas-woman .before {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(119, 234, 203, 0.4);
    width: 100%;
    height: 100%;
    content: '';
}

#day-after-christmas-woman .pants {
    top: 36rem;
    height: 50%;
    background: var(--uni-black);
}

#day-after-christmas-woman .stripe {
    background: rgb(242, 213, 236);
}

#day-after-christmas-woman .stripe:first-of-type {
    top: 25%;
    height: 25%;
    min-height: 6rem;
    display: inline-block;
}

#day-after-christmas-woman .stripe:last-of-type {
    top: 70%;
    height: 10%;
    min-height: 2.4rem;
    display: inline-block;
}

/* ----------------------------------- Woman Walking Uphill */

#woman-walking-uphill .hood {
    background: linear-gradient(to left, hsl(357, 100%, 76%), hsl(5, 90%, 72%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#woman-walking-uphill .vest {
    top: 24rem;
    background-image: url(assets/woman-walking-uphill-01.jpg);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#woman-walking-uphill .sleeve {
    top: -12%;
    background: hsl(357, 100%, 76%);
    width: 25%;
    margin: 2rem;
}

#woman-walking-uphill .sleeve:first-of-type {
    left: 0;
    margin-left: 2rem;
}

#woman-walking-uphill .sleeve:last-of-type {
    right: 0;
    margin-right: 2rem;
}

#woman-walking-uphill .pants {
    top: 48rem;
    background-image: url(assets/woman-walking-uphill-02.png);
}

/* ------------------------------------ Woman in the Corner */

#woman-in-corner .top {
    display: flex;
    flex-wrap: nowrap;
}

#woman-in-corner .face {
    background-image: url(assets/woman-in-the-corner-01.jpg);
    width: 40%;
}

#woman-in-corner .hood {
    right: 0;
    width: 60%;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--uni-white);
    background: hsl(240, 40%, 22%);
}

#woman-in-corner .shirt {
    top: 24rem;
    background-image: url(assets/woman-in-the-corner-02.jpg);
    display: flex;
    align-items: center;
    justify-content: end;
}

#woman-in-corner .backpack {
    top: 0;
    right: 5%;
    background-image: url(assets/woman-in-the-corner-03.jpg);
    min-height: 20rem;
    width: 40%;
    margin: 2rem;
    opacity: 0.75;
}

#woman-in-corner .pants {
    top: 48rem;
    background-image: url(assets/woman-in-the-corner-04.jpg);
}