.two-columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.three-columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

@media (width < 60rem) {
    .two-columns { grid-template-columns: 1fr }
    .three-columns { grid-template-columns: 1fr }
}

code {
    white-space: pre-wrap;
    font-family: 'Red Hat Mono';
    font-size: 1.6rem;
    line-height: 1.2;
}

#color-wheel .two-columns .three-columns { grid-gap: 1rem }
#shapes .three-columns { grid-gap: 1rem }

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    display: flex !important;
    justify-content: center;
    align-items: center;
}

.text-tile { text-transform: none }

.sample-bar {
    width: 100%;
    height: 4.8rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),
        0 6px 6px rgba(0,0,0,0.23);
    display: inline-block;
}

/* -------------------------------------------------------------------------- COLORS */

.colors-container { margin-top: 2rem }

.red { background-color: #FF0000 }
.vermillion { background-color: #FF4500 }
.orange { background-color: #FFA500 }
.amber { background-color: #FFAE42 }
.yellow { background-color: #FFFF00 }
.chartreuse { background-color: #9ACD32 }
.green { background-color: #008000 }
.teal { background-color: #0D98B4 }
.blue { background-color: #0000FF }
.violet { background-color: #8F00FF }
.purple { background-color: #9400D3 }
.magenta { background-color: #FF00FF }

.dark-color { color: var(--light-color-gray) }
.light-color {color: var(--dark-color-gray) }

.sample-color-wheel {
    position: relative;
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background: conic-gradient(
      #FF0000, 
      #FF4500,
      #FFA500,
      #FFAE42,
      #FFFF00,
      #9ACD32,
      #008000,
      #0D98B4,
      #0000FF,
      #8F00FF,
      #9400D3,
      #FF00FF,
      #FF0000
    );
}

.sample-color-wheel::after {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: var(--dark-color-purple, #402C45);
    content: "";
}

.monochromatic-light-1 { background-color: hsl(0, 100%, 10%) }
.monochromatic-light-2 { background-color: hsl(0, 100%, 30%) }
.monochromatic-light-3 { background-color: hsl(0, 100%, 50%) }
.monochromatic-light-4 { background-color: hsl(0, 100%, 70%) }
.monochromatic-light-5 { background-color: hsl(0, 100%, 90%) }

.monochromatic-saturation-1 { background-color: hsl(0, 10%, 50%) }
.monochromatic-saturation-2 { background-color: hsl(0, 30%, 50%) }
.monochromatic-saturation-3 { background-color: hsl(0, 50%, 50%) }
.monochromatic-saturation-4 { background-color: hsl(0, 70%, 50%) }
.monochromatic-saturation-5 { background-color: hsl(0, 90%, 50%) }

.complementary-1 { background-color: hsl(40, 100%, 50%) }
.complementary-2 { background-color: hsl(40, 100%, 75%) }
.complementary-3 { background-color: hsl(280, 100%, 50%) }
.complementary-4 { background-color: hsl(280, 100%, 75%) }
.complementary-5 { background-color: hsl(280, 100%, 25%) }

.analogous-1 { background-color: hsl(120, 100%, 25%) }
.analogous-2 { background-color: hsl(120, 100%, 75%) }
.analogous-3 { background-color: hsl(180, 100%, 25%) }
.analogous-4 { background-color: hsl(240, 25%, 75%) }
.analogous-5 { background-color: hsl(240, 25%, 25%) }

.triadic-1 { background-color: hsl(40, 100%, 25%) }
.triadic-2 { background-color: hsl(40, 100%, 75%) }
.triadic-3 { background-color: hsl(160, 100%, 25%) }
.triadic-4 { background-color: hsl(280, 25%, 75%) }
.triadic-5 { background-color: hsl(280, 25%, 25%) }

.hsl-1 { background-color: hsl(40, 100%, 50%) }
.hsl-2 { background-color: hsl(30, 100%, 50%) }
.hsl-3 { background-color: hsl(40, 50%, 50%) }
.hsl-4 { background-color: hsl(40, 100%, 90%) }

.rgb-1 { background-color: rgb(255, 0, 0) }
.rgb-2 { background-color: rgb(255, 255, 0) }
.rgb-3 { background-color: rgb(0, 255, 0) }
.rgb-4 { background-color: rgb(0, 255, 255) }
.rgb-5 { background-color: rgb(0, 0, 255) }
.rgb-6 { background-color: rgb(255, 0, 255) }
.rgb-7 { background-color: rgb(150, 150, 150) }

.alpha-example { background-color: rgb(0, 120, 180) }
.alpha-1 { background-color: hsla(120, 100%, 50%, 0.5) }
.alpha-2 { background-color: rgba(0, 255, 0, 0.5) }
.alpha-3 { background-color: #00FF0080 }

.named-color-1, .seashell { background-color: seashell }
.named-color-2, .lightsalmon { background-color: lightsalmon }
.named-color-3, .moccasin { background-color: moccasin }
.named-color-4, .thistle { background-color: thistle }

/* -------------------------------------------------------------------------- SHAPES */

#shapes .two-columns { 
    margin-bottom: 0.8rem;
    grid-template-columns: 1fr 18rem;
}

@media (width < 36rem) {
    #shapes .two-columns { 
        margin-bottom: 6rem;
        grid-template-columns: 1fr;
    }

    #shapes .two-columns .container .tile { margin-top: 3rem }
}

#shapes pre { 
    padding-left: 1.2rem;
    background: #F2F4F4;
}

.lightcoral { background-color: lightcoral }
.moccasin { background-color: moccasin }
.lightseagreen { background-color: lightseagreen }
.lightslategray { background-color: lightslategray }
.khaki { background-color: khaki }

.label {
    position: relative;
}

.square {
    width: 16rem;
    height: 16rem;
}
.rectangle-horizontal {
    width: 16rem;
    height: 12rem;
}
.rectangle-vertical {
    width: 12rem;
    height: 16rem;
}

.circle {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
}
.oval-horizontal {
    width: 16rem;
    height: 12rem;
    border-radius: 50%;
}
.oval-vertical {
    width: 12rem;
    height: 16rem;
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
}
.triangle-point-up {
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    border-bottom: 16rem solid moccasin;
}
.triangle-point-up .label { top: 12rem }
.triangle-point-down {
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    border-top: 16rem solid moccasin;
}
.triangle-point-down .label { bottom: 12rem }
.triangle-point-left {
    border-top: 8rem solid transparent;
    border-bottom: 8rem solid transparent;
    border-right: 16rem solid moccasin;
}
.triangle-point-left .label { left: 10rem }
.triangle-point-right {
    border-top: 8rem solid transparent;
    border-bottom: 8rem solid transparent;
    border-left: 16rem solid moccasin;
}
.triangle-point-right .label { right: 10rem }
.triangle-top-left {
    border-bottom: 16rem solid transparent;
    border-left: 16rem solid moccasin;
}
.triangle-top-left .label {
    top: 6rem;
    right: 12rem;
}
.triangle-top-right {
    border-bottom: 16rem solid transparent;
    border-right: 16rem solid moccasin;
}
.triangle-top-right .label {
    top: 6rem;
    left: 12rem;
}
.triangle-bottom-left {
    border-top: 16rem solid transparent;
    border-left: 16rem solid moccasin;
}
.triangle-bottom-left .label {
    bottom: 4rem;
    right: 11rem;
}
.triangle-bottom-right {
    border-top: 16rem solid transparent;
    border-right: 16rem solid moccasin;
}
.triangle-bottom-right .label {
    bottom: 4rem;
    left: 11rem;
}

.trapezoid-shortside-up {
    width: 16rem;
    height: 0;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    border-bottom: 8rem solid moccasin;
}
.trapezoid-shortside-up .label { top: 5rem }
.trapezoid-shortside-down {
    width: 16rem;
    height: 0;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    border-top: 8rem solid moccasin;
}
.trapezoid-shortside-down .label { bottom: 5rem }
.trapezoid-shortside-left {
    width: 0;
    height: 16rem;
    border-top: 4rem solid transparent;
    border-bottom: 4rem solid transparent;
    border-right: 8rem solid moccasin;
}
.trapezoid-shortside-left .label {
    left: 5rem;
    transform: rotate(0.75turn);
}
.trapezoid-shortside-right {
    width: 0;
    height: 16rem;
    border-top: 4rem solid transparent;
    border-bottom: 4rem solid transparent;
    border-left: 8rem solid moccasin;
}
.trapezoid-shortside-right .label {
    right: 5rem;
    transform: rotate(0.25turn);
}

.parallelogram-wide-point-left {
    width: 16rem;
    height: 10.4rem;
    transform: skew(20deg);
}
.parallelogram-wide-point-left .label { transform: skew(-20deg) }
.parallelogram-wide-point-right {
    width: 16rem;
    height: 10.4rem;
    transform: skew(-20deg);
}
.parallelogram-wide-point-right .label { transform: skew(20deg) }
.parallelogram-tall-point-left {
    width: 10.4rem;
    height: 16rem;
    transform: skew(20deg);
}
.parallelogram-tall-point-left .label { transform: skew(-20deg) }
.parallelogram-tall-point-right {
    width: 10.4rem;
    height: 16rem;
    transform: skew(-20deg);
}
.parallelogram-tall-point-right .label { transform: skew(20deg) }

.pentagon-point-up {
    position: relative;
    box-sizing: content-box;
    top: 4rem;
    width: 8.64rem;
    border-width: 8rem 2.88rem 0;
    border-style: solid;
    border-color: lightseagreen transparent;
}
.pentagon-point-up::before {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 11.7rem;
    border-width: 0 7.2rem 5.6rem;
    border-style: solid;
    border-color: transparent transparent lightseagreen;
    content: "";
}
.pentagon-point-up .label { bottom: 7.5rem }
.pentagon-point-down {
    position: relative;
    box-sizing: content-box;
    width: 8.64rem;
    bottom: 6.5rem;
    border-width: 0 2.88rem 8rem;
    border-style: solid;
    border-color: lightseagreen transparent;
}
.pentagon-point-down::before {
    position: absolute;
    width: 0;
    height: 0;
    top: 13.7rem;
    border-width: 5.6rem 7.2rem 0;
    border-style: solid;
    border-color: lightseagreen transparent transparent;
    content: "";
}
.pentagon-point-down .label { top: 7.5rem }
.pentagon-point-left {
    position: relative;
    box-sizing: content-box;
    right: -7rem;
    height: 8.64rem;
    border-width: 2.88rem 0 2.88rem 8rem;
    border-style: solid;
    border-color: transparent lightseagreen;
}
.pentagon-point-left::before {
    position: absolute;
    width: 0;
    height: 0;
    top: -2.88rem;
    right: 15.6rem;
    border-width: 7.2rem 5.6rem 7.2rem 0;
    border-style: solid;
    border-color: transparent lightseagreen transparent transparent;
    content: "";
}
.pentagon-point-left .label { right: 9.8rem }
.pentagon-point-right {
    position: relative;
    box-sizing: content-box;
    left: -7rem;
    height: 8.64rem;
    border-width: 2.88rem 8rem 2.88rem 0;
    border-style: solid;
    border-color: transparent lightseagreen;
}
.pentagon-point-right::before {
    position: absolute;
    width: 0;
    height: 0;
    top: -2.88rem;
    left: 16.7rem;
    border-width: 7.2rem 0 7.2rem 5.6rem;
    border-style: solid;
    border-color: transparent transparent transparent lightseagreen;
    content: "";
}
.pentagon-point-right .label { left: 10.8rem }

.hexagon-vertical {
    position: relative;
    width: 16rem;
    height: 9.24rem;
}
.hexagon-vertical::before {
    position: absolute;
    width: 0;
    height: 0;
    top: -4.5rem;
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    border-bottom: 4.6rem solid lightseagreen;
    content: "";
}
.hexagon-vertical::after {
    position: absolute;
    bottom: -4.5rem;
    width: 0;
    height: 0;
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    border-top: 4.6rem solid lightseagreen;
    content: "";
}

.hexagon-horizontal {
    position: relative;
    width: 9.24rem;
    height: 16rem;
}
.hexagon-horizontal::before {
    position: absolute;
    width: 0;
    height: 0;
    left: -4.5rem;
    border-top: 8rem solid transparent;
    border-bottom: 8rem solid transparent;
    border-right: 4.6rem solid lightseagreen;
    content: "";
}
.hexagon-horizontal::after {
    position: absolute;
    right: -4.5rem;
    width: 0;
    height: 0;
    border-top: 8rem solid transparent;
    border-bottom: 8rem solid transparent;
    border-left: 4.6rem solid lightseagreen;
    content: "";
}
.hexagon-horizontal .label { z-index: 10 }

.octagon {
    position: relative;
    width: 16rem;
    height: 16rem;
}
.octagon::before {
    position: absolute;
    top: 0;
    width: 6.8rem;
    height: 0;
    border-bottom: 4.64rem solid lightseagreen;
    border-left: 4.64rem solid var(--uni-white);
    border-right: 4.64rem solid var(--uni-white);
    content: "";
}
.octagon::after {
    position: absolute;
    bottom: 0;
    width: 6.8rem;
    height: 0;
    border-top: 4.64rem solid lightseagreen;
    border-left: 4.64rem solid var(--uni-white);
    border-right: 4.64rem solid var(--uni-white);
    content: "";
}

.reverse-corner {
    position: relative;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
}
.reverse-corner-top-left::before {
    position: absolute;
    width: 16rem;
    height: 16rem;
    top: 0;
    left: 0;
    box-shadow: -8rem -8rem 0 0 lightslategray;
    border-radius: 50%;
    display: block;
    content: "";
}
.reverse-corner-top-right::before {
    position: absolute;
    width: 16rem;
    height: 16rem;
    top: 0;
    left: 0;
    box-shadow: 8rem -8rem 0 0 lightslategray;
    border-radius: 50%;
    display: block;
    content: "";
}
.reverse-corner-bottom-left::before {
    position: absolute;
    width: 16rem;
    height: 16rem;
    top: 0;
    left: 0;
    box-shadow: -8rem 8rem 0 0 lightslategray;
    border-radius: 50%;
    display: block;
    content: "";
}
.reverse-corner-bottom-right::before {
    position: absolute;
    width: 16rem;
    height: 16rem;
    top: 0;
    left: 0;
    box-shadow: 8rem 8rem 0 0 lightslategray;
    border-radius: 50%;
    display: block;
    content: "";
}

.diamond-square {
    position: relative;
    width: 0;
    height: 0;
    top: -8rem;
    border: 8rem solid transparent;
    border-bottom-color: lightslategray;
}
.diamond-square::after {
    position: absolute;
    top: 8rem;
    left: -8rem;
    border: 8rem solid transparent;
    border-top-color: lightslategray;
    content: "";
}
.diamond-square .label { 
    top: 8rem;
    z-index: 10;
}

.diamond-cut {
    box-sizing: content-box;
    position: relative;
    margin: 3.2rem 0 8rem 0;
    width: 8rem;
    height: 0;
    border-width: 0 4rem 4rem 4rem;
    border-style: solid;
    border-color: transparent transparent lightslategray transparent;
}
.diamond-cut::after {
    position: absolute;
    top: 4rem;
    left: -4rem;
    width: 0;
    height: 0;
    border-width: 11.2rem 8rem 0 8rem;
    border-style: solid;
    border-color: lightslategray transparent transparent transparent;
    content: "";
}
.diamond-cut .label {
    top: 4.6rem;
    z-index: 10;
}

.diamond-vertical {
    position: relative;
    width: 0;
    height: 0;
    top: -8rem;
    border: 8rem solid transparent;
    border-bottom: 11.2rem solid lightslategray;
}
.diamond-vertical::after {
    position: absolute;
    top: 11.2rem;
    left: -8rem;
    width: 0;
    height: 0;
    border: 8rem solid transparent;
    border-top: 11.2rem solid lightslategray;
    content: "";
}
.diamond-vertical .label {
    top: 11.4rem;
    z-index: 10;
}