:root {
    --old-parchment: #F9D8A7;
}

header {
    height: 9.6rem;
    padding: 2rem;
    background: var(--uni-off-black);
}

header .container {
    height: 100%;
    padding-left: 0.6rem;
    padding-bottom: 0.8rem;
    border: 0.2rem solid var(--uni-light);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header a { 
    margin: 0 0.6rem;
    color: var(--uni-light);
}
header a:hover { color: var(--uni-white) }

.logo .sm {
    font-family: 'BrokenHeart';
    font-size: 2.8rem;
}

.logo .kou {
    margin-left: -0.7rem;
    font-family: 'STXingkai';
    font-size: 3.4rem;
}

header a:last-of-type { 
    font-family: 'League Spartan';
    font-size: 1.8rem;
}

#top {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    padding: 0.6rem;
    border: 0.2rem solid var(--uni-mid);
    border-radius: 0.8rem;
    color: var(--uni-mid);
    font-family: 'League Spartan';
}

#top:hover {
    border-color: var(--uni-black);
    color: var(--uni-black);
}

h2 {
    font-family: 'Bebas Neue';
    text-align: center;
    letter-spacing: 0.1rem;
}

h3 { font-family: 'Bebas Neue' }

/* -------------------------------------------------- Navigation / Options */

nav {
    padding: 2rem;
    background: var(--uni-off-white);
}

.options {
    width: 100%;
    max-width: 84rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.options h3 {
    padding: 1.2rem 1.2rem 0.4rem;
    border-radius: 0.5rem;
    color: var(--uni-mid);
    background: var(--uni-light);
    font-family: 'League Spartan';
    display: inline-block;
}

.option-btns {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    overflow-x: scroll;
}

.option-btns button {
    min-height: 2.4rem;
    padding-top: 0.4rem;
    border: none;
    border-radius: 0.4rem;
    outline: none;
    font-family: 'League Spartan';
    font-size: 1.6rem;
}

.option-btns.alpha button { min-width: 2.4rem }
.option-btns.topics button { min-width: 10rem }

.option-btns button:hover { text-decoration: underline }
.option-btns button.active { background: var(--uni-light) }

nav p {
    max-width: 84rem;
    margin: 0 auto;
}

/* -------------------------------------------------- Index */

main {
    background: linear-gradient(var(--uni-off-white), var(--old-parchment));
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 92%;
    max-width: 84rem;
}

section h3 { font-size: 2.4rem }

section h4 { 
    margin-bottom: 0.6rem;
    font-size: 2rem;
}

dt {
    font-family: 'League Spartan';
    font-size: 2rem;
}

dd {
    font-family: 'League Spartan';
    font-size: 1.6rem;
}

dd a { color: var(--uni-mid) }
dd a:hover { color: var(--uni-off-black) }

dd div { margin-bottom: 1.2rem }

.font + dd .sample {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
    gap: 0.6rem;
}

.font-pair {
    padding: 1.2rem;
    border: 0.1rem solid var(--uni-black);
    border-radius: 0.8rem;
    background: var(--uni-white);
}

.font-pair p { margin: 0 }

.font-pair .heading {
    margin-bottom: 0.6rem;
    font-size: 2.4rem;
}

.font-pair p.ra-mono { font-size: 1.4rem }

.bebas-neue { font-family: 'Bebas Neue' }
.broken-heart { font-family: 'Broken Heart' }
.halant { font-family: 'Halant' }
.karla { font-family: 'Karla' }
.league-spartan { font-family: 'League Spartan' }
.libre { font-family: 'Libre Baskerville'}
.nunito { font-family: 'Nunito Sans' }
.ovo { font-family: 'Ovo' }
.playfair { font-family: 'Playfair Display' }
.ra-mono { font-family: 'Ra Mono' }
.rubik { font-family: 'Rubik' }
.spectral { font-family: 'Spectral' }
.stxingkai { font-family: 'STXingkai' }

.thin { font-weight: 200 }
.light { font-weight: 300 }
.regular { font-weight: 400 }
.bold { font-weight: 700 }

.italic { font-style: italic }

.california-sun,
.california-sun.regular { font-family: 'Californiasun-Regular' }
.california-sun.italic { font-family: 'Californiasun-Italic'}

.muli,
.muli.regular { font-family: 'Muli-Regular' }
.muli.light { font-family: 'Muli-Light' }
.muli.bold { font-family: 'Muli-Bold' }

dd .code,
dd .code,
dd .code {
    width: 100%;
    padding: 1.2rem 1.8rem;
    border-radius: 0.6rem;
    background: #f2f4f4;
    font-family: 'Ra Mono', monospace;
    font-size: 1.4rem;
    letter-spacing: -0.1rem;
}

.indented { padding-left: 2rem }
dd span.code { padding: 0.2rem 0.6rem }

.measure {
    position: fixed;
    bottom: 1.2rem;
    left: 1.2rem;
}

.collapsed { display: none }