:root {
    --dark-color-purple: #402C45;
    --dark-color-gray: #454545;
    --light-color-purple: #E8D8FA;
    --light-color-gray: #F8F9F8;
    --dark-accent-color: #E26A2C;
    --light-accent-color: #FDA65D;
}

body { 
    font-family: 'League Spartan', sans-serif;
    font-size: 1.6rem;
}

p, li { line-height: 1.2 }

header {
    padding-bottom: 3rem;
    color: var(--light-color-gray);
    background: var(--dark-color-purple);
}

.title { padding: 1.5rem 3rem }

.title h1,
.title h3 { margin: 0 }

h1 {
    font-family: 'League Spartan';
    font-size: 4.8rem;
    text-transform: uppercase;
}

.html h1 .css,
.css h1 .html { display: none }

h3 { 
    display: flex;
    align-items: center;
}

h3 button {
    margin: 0 0.6rem;
    padding: 0.6rem 0 0 0;
    border: 0;
    border-top: 0.1rem solid var(--light-color-gray);
    border-bottom: 0.1rem solid var(--light-color-gray);
    color: var(--light-color-gray);
    background: transparent;
    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 3.2rem;
    text-align: center;
}

h3 button:first-of-type { margin-left: 0 }

header button:hover {
    border-top-color: var(--dark-accent-color);
    border-bottom-color: var(--dark-accent-color);
    color: var(--light-accent-color);
}

.html .set-html,
.css .set-css { pointer-events: none }

nav {
    width: 100%;
    padding: 0 3rem;
}

nav div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav a { 
    margin: 0.6rem 0.8rem;
    padding: 0.3rem 0 0 0;
    border-top: 0.1rem solid var(--light-color-purple);
    border-bottom: 0.1rem solid var(--light-color-purple);
    color: var(--light-color-purple);
    font-family: 'Bebas Neue';
    display: inline-block;
}

nav a:first-of-type { margin-left: 0 }

nav a:hover { 
    border-top-color: var(--dark-accent-color);
    border-bottom-color: var(--dark-accent-color);
    color: var(--light-accent-color);
}

.html nav .css,
.css nav .html { display: none }

main {
    margin-bottom: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.html #beginner-css,
.html #colors,
.html #fonts,
.html #shapes,
.html #layouts { display: none }

.css #intro,
.css #beginner-html,
.css #semantics,
.css #accessibility { display: none }

article {
    width: 100%;
    max-width: 84rem;
}

.html #intro h2,
.css #beginner-css h2 { 
    margin-top: 0;
    border-top: 0.1rem solid var(--light-color-gray);
}

h2 {
    padding: 2rem 0;
    color: var(--light-color-purple);
    background: var(--dark-color-purple);
    font-family: 'League Spartan';
    font-size: 3.2rem;
    text-align: center;
}

p a,
li a,
dd a { color: var(--light-accent-color) }

p a:hover,
li a:hover,
dd a:hover { color: var(--dark-accent-color) }

.content {
    padding: 0 2rem;
}

.content p a { color: var(--light-accent-color) }
.content p a:hover { color: var(--dark-accent-color) }

details {
    margin: 1.2rem 0;
    border: 0.1rem solid var(--dark-color-purple);
    border-radius: 0.6rem;
}

summary {
    padding: 1.8rem 1.2rem;
    border-bottom: 0.1rem solid var(--dark-color-purple);
    list-style: none;
    font-family: 'League Spartan';
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

details .passages {
    padding: 1.2rem;
    text-align: justify;
}

.top-details {
    width: 100%;
    margin: 2rem 0 1rem 0;
    padding: 1.2rem 0;
    border-top: 0.1rem solid var(--light-accent-color);
    border-bottom: 0.1rem solid var(--light-accent-color);
    color: var(--light-accent-color);
    text-align: center;
    display: block;
}

.top-details:hover {
    border-top-color: var(--dark-accent-color);
    border-bottom-color: var(--dark-accent-color);
    color: var(--dark-accent-color);
}

dt {
    margin-top: 2rem;
    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 1.2;
}

audio,
video,
table,
label,
textarea { 
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

label { 
    margin-top: 0;
    display: block;
}

.row {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
}

.row input { 
    width: auto;
    margin: 0;
    margin-left: 0.6rem;
}

img {
    width: 100%;
    height: auto;
}

.passages input,
.passages button { width: 100% }

.code {
    background: #f2f4f4;
    font-family: 'Red Hat Mono', monospace;
    font-size: 1.4rem;
    overflow-wrap: break-word;
}

.code p { 
    margin: 0.8rem 0;
    text-align: left;
}

div.code {
    width: 100%;
    padding: 1.2rem 1.8rem;
    border-radius: 0.6rem;
}

.indented { padding-left: 2rem }

span.code { padding: 0.2rem 0.6rem }

li { margin-bottom: 0.8rem }

li h1,
li h2,
li h3,
li h4,
li h5,
li h6 { 
    margin: 1.2rem 0;
    padding-left: 2.4rem;
    color: var(--uni-black);
    background: transparent;
    font-family: 'Bebas Neue';
    text-align: left;
}

li h1 { font-size: 4.8rem }
li h2 { font-size: 3.2rem }
li h3 { font-size: 2.56rem }
li h4 { font-size: 2.18rem }
li h5 { font-size: 1.8rem }
li h6 { font-size: 1.6rem }

table tr {
    border-top: 0.1rem solid var(--uni-black);
    border-bottom: 0.1rem solid var(--uni-black);
}

table th { background: #EAEDED }

table th,
table td { 
    padding: 0.6rem;
    padding-top: 0.9rem;
    text-align: left;
}

.col2 { background: #f006 }
.row2 { background: #f0f6 }

fieldset {
    margin: 2rem 0;
    padding: 2.4rem;
    border-radius: 1.2rem;
    display: flex;
}

fieldset legend {
    padding: 0.6rem 0.8rem 0.4rem 0.8rem;
    border-radius: 0.4rem;
    color: var(--light-color-purple);
    background: var(--dark-color-purple);
}

fieldset label {
    padding: 0.8rem;
    line-height: 1;
    display: flex;
    align-items: flex-start;
}

fieldset label input {
    margin: 0 0.8rem;
    padding: 1.2rem 0.8rem;
}

.select {
    margin-top: 1.2rem;
    width: 100%;
    display: flex;
}

.select label { width: 16rem }
.select select { width: 100% }

.semantic-dl dt {
    padding-top: 0.6rem;
    border-top: 0.1rem solid var(--dark-color-purple);
    border-bottom: 0.1rem solid var(--dark-color-purple);
}

.semantic-dl dd {
    margin-top: 2rem;
    margin-left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1.2rem 0;
    background: var(--dark-color-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    display: flex;
    align-items: center;
}

footer a { margin-right: 1.2rem }

footer button {
    margin-left: 1.2rem;
    border: 0;
    background: transparent;
    text-transform: uppercase;
}

footer a,
footer button { 
    padding: 0.5rem 0 0.1rem 0;
    border-top: 0.1rem solid var(--light-color-purple);
    border-bottom: 0.1rem solid var(--light-color-purple);
    color: var(--light-color-purple);
    font-family: 'League Spartan';
    font-size: 1.6rem;
}

footer a:hover,
footer button:hover {
    border-top-color: var(--dark-accent-color);
    border-bottom-color: var(--dark-accent-color);
    color: var(--light-accent-color);
}