/* Broken Heart */
@font-face {
    font-family: "BrokenHeart";
    src: url("./fonts/BrokenHeart.eot"); /* IE9 Compat Modes */
    src: url("./fonts/BrokenHeart.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./fonts/BrokenHeart.otf") format("opentype"), /* Open Type Font */
        url("./fonts/BrokenHeart.svg") format("svg"), /* Legacy iOS */
        url("./fonts/BrokenHeart.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./fonts/BrokenHeart.woff") format("woff"), /* Modern Browsers */
        url("./fonts/BrokenHeart.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
/* California Sun: regular and italic */
@font-face {
    font-family: "Californiasun-Regular";
    src: url("./fonts/Californiasun.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Californiasun.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/Californiasun.otf") format("opentype"), /* Open Type Font */
      url("./fonts/Californiasun.svg") format("svg"), /* Legacy iOS */
      url("./fonts/Californiasun.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/Californiasun.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Californiasun.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Californiasun-Italic";
    src: url("./fonts/CaliforniasunItalic.eot"); /* IE9 Compat Modes */
    src: url("./fonts/CaliforniasunItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/CaliforniasunItalic.otf") format("opentype"), /* Open Type Font */
      url("./fonts/CaliforniasunItalic.svg") format("svg"), /* Legacy iOS */
      url("./fonts/CaliforniasunItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/CaliforniasunItalic.woff") format("woff"), /* Modern Browsers */
      url("./fonts/CaliforniasunItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/* Muli: light, regular and bold */
@font-face {
    font-family: "Muli-Light";
    src: url("./fonts/Muli-Light.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Muli-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./fonts/Muli-Light.otf") format("opentype"), /* Open Type Font */
        url("./fonts/Muli-Light.svg") format("svg"), /* Legacy iOS */
        url("./fonts/Muli-Light.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./fonts/Muli-Light.woff") format("woff"), /* Modern Browsers */
        url("./fonts/Muli-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Muli-Regular";
    src: url("./fonts/Muli-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Muli-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./fonts/Muli-Regular.otf") format("opentype"), /* Open Type Font */
        url("./fonts/Muli-Regular.svg") format("svg"), /* Legacy iOS */
        url("./fonts/Muli-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./fonts/Muli-Regular.woff") format("woff"), /* Modern Browsers */
        url("./fonts/Muli-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Muli-Bold";
    src: url("./fonts/Muli-Bold.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Muli-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./fonts/Muli-Bold.otf") format("opentype"), /* Open Type Font */
        url("./fonts/Muli-Bold.svg") format("svg"), /* Legacy iOS */
        url("./fonts/Muli-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./fonts/Muli-Bold.woff") format("woff"), /* Modern Browsers */
        url("./fonts/Muli-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/* Ra Mono */
@font-face {
    font-family: 'Ra Mono';
    src: url('./fonts/RaMonoRegular.eot');
    src: url('./fonts/RaMonoRegular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RaMonoRegular.woff2') format('woff2'),
        url('./fonts/RaMonoRegular.woff') format('woff'),
        url('./fonts/RaMonoRegular.ttf') format('truetype'),
        url('./fonts/RaMonoRegular.svg#RaMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* STXingkai */
@font-face {
    font-family: "STXingkai";
    src: url("./fonts/chinesestxingka.eot"); /* IE9 Compat Modes */
    src: url("./fonts/chinesestxingka.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/chinesestxingka.otf") format("opentype"), /* Open Type Font */
      url("./fonts/chinesestxingka.svg") format("svg"), /* Legacy iOS */
      url("./fonts/chinesestxingka.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/chinesestxingka.woff") format("woff"), /* Modern Browsers */
      url("./fonts/chinesestxingka.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}