:root {
    --old-parchment: #F9D8A7;
}

header {
    height: 9.6rem;
    padding: 2rem;
    background: var(--uni-off-black);
}

header .container {
    height: 100%;
    padding-left: 0.6rem;
    padding-bottom: 0.8rem;
    border: 0.2rem solid var(--uni-light);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header a { 
    margin: 0 0.6rem;
    color: var(--uni-light);
}
header a:hover { color: var(--uni-white) }

.logo .sm {
    font-family: 'BrokenHeart';
    font-size: 2.8rem;
}

.logo .kou {
    margin-left: -0.7rem;
    font-family: 'STXingkai';
    font-size: 3.4rem;
}

header a:last-of-type { 
    font-family: 'League Spartan';
    font-size: 1.8rem;
}

#top {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    padding: 0.6rem;
    border: 0.2rem solid var(--uni-mid);
    border-radius: 0.8rem;
    color: var(--uni-mid);
    font-family: 'League Spartan';
}

#top:hover {
    border-color: var(--uni-black);
    color: var(--uni-black);
}

h2 {
    font-family: 'Bebas Neue';
    text-align: center;
    letter-spacing: 0.1rem;
}

h3 { font-family: 'Bebas Neue' }

/* -------------------------------------------------- Navigation / Options */

nav {
    padding: 2rem;
    background: var(--uni-off-white);
}

.options {
    width: 100%;
    max-width: 84rem;
    height: 3.6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.options h3 {
    padding: 1.2rem 1.2rem 0.4rem;
    border-radius: 0.5rem;
    color: var(--uni-mid);
    background: var(--uni-light);
    font-family: 'League Spartan';
}

.option-btns {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.option-btns button {
    min-width: 2.4rem;
    min-height: 2.4rem;
    padding-top: 0.4rem;
    border: none;
    border-radius: 0.4rem;
    outline: none;
    font-family: 'League Spartan';
    font-size: 1.6rem;
}

.option-btns button:hover { text-decoration: underline }
.option-btns button.active { background: var(--uni-light) }

/* -------------------------------------------------- Index */

main {
    background: linear-gradient(var(--uni-off-white), var(--old-parchment));
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

section {
    width: 92%;
    max-width: 84rem;
}

section h3 { font-size: 2.4rem }


.collapsed { display: none }